@import "tailwindcss";
@import 'tailwind-animations';


body, html {
  font-family: 'Montserrat', sans-serif;
  /* overflow-x: hidden; */
}

.header-scrolled {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(15px);
}

.header-menu-open {
  background: rgba(0, 0, 0, 0.90);
  backdrop-filter: blur(24px);
}

.libros {
    padding: 80px 20px;
    text-align: center;
    background-color: #feffff;
  }

  .libros-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 40px;
    justify-items: center;
  }

  .libro {
    width: 100%;
    max-width: 200px;
  }

  .libro a {
    display: block;
  }

  .libro img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition:
      transform 0.35s ease,
      box-shadow 0.35s ease;
  }

  /* Hover */
  .libro:hover img {
    transform: scale(1.07);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    .libros-container {
      grid-template-columns: repeat(2, 1fr);
      max-width: 400px;
      margin: 40px auto 0;
      gap: 40px;
    }

    .libro:last-child:nth-child(odd) {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  /* Desktop */
  @media (min-width: 1024px) {
    .libros-container {
      grid-template-columns: repeat(3, 1fr);
      max-width: 750px;
      margin: 40px auto 0;
      gap: 40px;
    }
  }

  /* Splash animation */
  @keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}