@import "tailwindcss";
@import 'tailwind-animations';


body, html {
  font-family: 'Montserrat', sans-serif;
  /* overflow-x: hidden; */
}

.header-scrolled {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(15px);
}

.header-menu-open {
  background: rgba(0, 0, 0, 0.90);
  backdrop-filter: blur(24px);
}