---
import Layout from '../layouts/Layout.astro'
import Header from '../components/ui/Header.astro'
import HeroVideo from '../components/ui/HeroVideo.astro'
import Footer from '../components/ui/Footer.astro'
import '../styles/global.css'
import Pastores from '../components/ui/Pastores.astro'
import Ubicacion from '../components/ui/Ubicacion.astro'
---

<Layout hero={true}>
  <Header transparent={true} animated={true} />
  <HeroVideo />
  <Pastores />
  <section class="libros" data-aos="fade-zoom-in">
    <h2 class="text-3xl md:text-4xl font-extrabold uppercase text-gray-600">Adquira nossos livros</h2>

    <article class="libros-container">
      <div class="libro">
        <a href="#"><img src="/libros/cultivando.webp" alt="Cultivando" /></a>
      </div>

      <div class="libro">
        <a href="#"
          ><img
            src="/libros/jesus-regresa-pronto.webp"
            alt="Jesus regresa pronto"
          /></a
        >
      </div>

      <div class="libro">
        <a href="#"
          ><img
            src="/libros/la-gloria-de-dios.webp"
            alt="La gloria de Dios"
          /></a
        >
      </div>
    </article>
  </section>
  <Ubicacion />
  <Footer />
</Layout>

