---
import Footer from '../components/ui/Footer.astro'
import Header from '../components/ui/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Header transparent={true} />

  <section
    class="bg-cyan-950 text-white min-h-screen flex items-center justify-center -mt-20 pt-20"
  >
    <h1 class="text-4xl sm:text-5xl lg:text-7xl font-extrabold uppercase">Quem somos</h1>
  </section>

  <Footer />
</Layout>

<style>
  main {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    overflow: hidden;
  }
</style>
