---
import '../../styles/global.css'
import MainNav from './MainNav.astro'
import RedesSociales from './RedesSociales.astro'

const { transparent = false, animated = false } = Astro.props
---

<header
  id="main-header"
  data-transparent={transparent}
    class=`${animated ? 'animate-fade-in-up': ''} fixed top-0 left-0 w-full text-white min-h-20 flex items-center justify-between md:justify-around px-6 md:px-16 lg:px-30 z-50 transition-all duration-300 ${transparent ? '' : 'header-scrolled'}`

>
  <!-- LOGO -->
  <a href="/">
    <img src="/logo-bola.png" class="w-36" />
  </a>

  <div>
    <MainNav />
  </div>

  <!-- RIGHT SIDE -->
  <div class="flex items-center gap-6">
    <!-- MENU BUTTON (solo mobile) -->
    <button id="menu-btn" class="md:hidden text-2xl cursor-pointer">
      <i id="menu-icon" class="fa-solid fa-bars transition-all duration-300"
      ></i>
    </button>

    <!-- REDES (solo desktop grande) -->
    <div class="hidden lg:flex">
      <RedesSociales />
    </div>
  </div>
</header>

<script is:inline>
  const btn = document.querySelector('#menu-btn')
  const menu = document.querySelector('#mobile-menu')
  const icon = document.querySelector('#menu-icon')

  btn?.addEventListener('click', () => {
    menu?.classList.toggle('hidden')

    icon?.classList.toggle('fa-bars')
    icon?.classList.toggle('fa-xmark')
    icon?.classList.toggle('rotate-90')
  })
</script>

