---

---

<!-- PASTORES -->
<section class="pastores-section relative py-20">
  <div
    class="max-w-4xl mx-auto px-8 flex flex-col items-center text-center gap-6 relative z-10"
  >
    <!-- Títulos -->
    <div data-aos="fade-up">
      <h2 class="text-3xl lg:text-4xl font-normal title-pastores">
        José Luis e Jesarela Acuña
      </h2>
      <p class="text-[#a3a3a3] text-xl mt-3">Pastores Principais</p>
    </div>

    <!-- Imagen centrada -->
    <div class="w-full mt-6" data-aos="fade-up">
      <img
        src="/pastores-jesa-jose.jpeg"
        alt="Pastores Jose Luis e Jesarela Acuña"
        class="w-lg mx-auto rounded-2xl object-cover"
      />
    </div>

    <!-- Texto -->
    <div class="max-w-4xl mt-4" data-aos="fade-up">
      <p class="text-[#828282] text-base leading-relaxed">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odio aut
        expedita hic libero labore dolorem, vero adipisci ullam aspernatur
        porro, quia dolore ab excepturi temporibus, esse soluta natus debitis.
        Odit vel quod rem ut mollitia debitis, ullam quis corrupti quaerat.
      </p>
    </div>

    <!-- Botón -->

    <button
      data-aos="fade-up"
    >
      <a
        href="/quem-somos"
        class="mt-4 px-10 py-3 rounded-full border border-[#c9a84c] text-[#c9a84c] text-xs font-semibold tracking-[3px] uppercase hover:bg-[#c9a84c] hover:text-black hover:scale-105 transition-all duration-300"
      >
        Leia mais
      </a>
    </button>
  </div>
</section>

<style>
  .title-pastores {
    color: #898989;
    font-family: 'Poppins', sans-serif;
  }
</style>
