---

---

<section
  class="pastores relative flex flex-col lg:flex-row justify-center items-center max-w-screen-4xl mx-auto gap-5 p-4 lg:p-12"
>
  <div class="custom-shape-divider-bottom-1773698040 hidden lg:block">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"
      ></path>
    </svg>
  </div>
  <!-- Imagen -->
  <img
    src="/pastores-jose-jesa.png"
    alt="Pastores"
    class="w-11/12 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-lg mt-10 rounded-2xl object-cover z-10 shadow-2xl shadow-black/90"
    data-aos="fade-zoom-in"
  />

  <!-- Texto -->
  <div
    class="w-full lg:w-1/2 p-4 pb-10 lg:p-8 rounded-md text-justify lg:text-left"
    data-aos="fade-zoom-in"
  >
    <h2 class="text-3xl sm:text-4xl font-extrabold uppercase w-full mb-4 text-gray-100 text-center lg:text-left">
      Nossos Pastores
    </h2>
    <p class="mt-2 text-base sm:text-md leading-relaxed text-gray-200">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque odio aut
      expedita hic libero labore dolorem, vero adipisci ullam aspernatur porro,
      quia dolore ab excepturi temporibus, esse soluta natus debitis.
    </p>
    <p class="mt-2 text-base sm:text-md leading-relaxed text-gray-200">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit vel quod
      rem ut mollitia debitis, ullam quis corrupti quaerat eaque eos voluptate
      repudiandae minus sit suscipit ex laboriosam alias consectetur.
    </p>
  </div>
</section>

<style>
  h2 {
    font-family: 'Raleway', sans-serif;
  }

  .pastores {
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.95),
    rgba(24, 24, 24, 0.61)
  ),
  url('/bg-gray.webp') center/cover no-repeat;
}

  .custom-shape-divider-bottom-1773698040 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1773698040 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-bottom-1773698040 .shape-fill {
    fill: #ffffff;
  }
</style>
