---

---

<div class="flex gap-4">
  <a href="https://www.youtube.com/@gdc_oficial" target="_blank">
    <i class="fa-brands fa-youtube fa-xl text-gray-200"></i>
  </a>
  <a href="https://www.instagram.com/gdc__oficial_/" target="_blank">
    <i class="fa-brands fa-instagram fa-xl text-gray-200"></i>
  </a>
  <a href="https://www.facebook.com/gdcsinop" target="_blank">
    <i class="fa-brands fa-facebook fa-xl text-gray-200"></i>
  </a>
</div>
