---

---

<div class="flex gap-4">
  <a
    href="https://www.youtube.com/@gdc_oficial"
    target="_blank"
    class="transition-transform duration-300 hover:scale-110"
  >
    <i class="fa-brands fa-youtube fa-2xl text-gray-200 hover:text-red-500 transition-colors duration-300"></i>
  </a>
  <a
    href="https://www.instagram.com/gdc__oficial_/"
    target="_blank"
    class="transition-transform duration-300 hover:scale-110"
  >
    <i class="fa-brands fa-instagram fa-2xl text-gray-200 hover:text-pink-500 transition-colors duration-300"></i>
  </a>
  <a
    href="https://www.facebook.com/gdcsinop"
    target="_blank"
    class="transition-transform duration-300 hover:scale-110"
  >
    <i class="fa-brands fa-facebook fa-2xl text-gray-200 hover:text-blue-500 transition-colors duration-300"></i>
  </a>
</div>
