---
const { vertical = true } = Astro.props
---

<div class={`flex ${vertical ? 'flex-col' : 'flex-row'} gap-3`}>
  <a
    href="https://www.youtube.com/@gdc_oficial"
    target="_blank"
    class="group flex items-center gap-3 text-sm text-gray-300 transition-colors duration-300"
  >
    <i
      class="fa-brands fa-youtube social-icon group-hover:text-red-500 transition-colors duration-300"
    ></i>
    Youtube
  </a>
  <a
    href="https://www.instagram.com/gdc__oficial_/"
    target="_blank"
    class="group flex items-center gap-3 text-sm text-gray-300 transition-colors duration-300"
  >
    <i
      class="fa-brands fa-instagram social-icon group-hover:text-pink-500 transition-colors duration-300"
    ></i>
    Instagram
  </a>
  <a
    href="https://www.facebook.com/gdcsinop"
    target="_blank"
    class="group flex items-center gap-3 text-sm text-gray-300 transition-colors duration-300"
  >
    <i
      class="fa-brands fa-facebook social-icon group-hover:text-blue-500 transition-colors duration-300"
    ></i>
    Facebook
  </a>
</div>
